.add__note-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #f3edf7;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}